<div class="form-viewer-wrapper">
  <div class="form-viewer-title">
    <div class="form-viewer-title-spacer">Satıcı Ara</div>
  </div>

  <div fxLayout="row" fxLayoutWrap fxLayoutGap="60px" class="form-viewer-body">
    <md-input-container>
      <input mdInput placeholder="Satıcı Adı" [(ngModel)]="item.name" />
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Muhasebe Kodu" [(ngModel)]="item.accountNumber" />
    </md-input-container>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center" class="form-viewer-body">
      <button type="button" md-raised-button (click)="searchSupplier()" color="primary">Ara</button>
  </div>

  <table *ngIf="!!supplierList.length">
    <thead>
      <tr class="table-related mat-header-row">
        <th class="mat-header-cell">Satıcı Adı</th>
        <th class="mat-header-cell">Muhasebe Kodu</th>
        <th class="mat-header-cell">Vergi Dairesi</th>
        <th class="mat-header-cell">Vergi No</th>
        <th class="mat-header-cell">Vade</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-related mat-row" *ngFor="let s of supplierList" (click)="dialogRef.close(s)">
        <td class="mat-cell">{{ s.name }}</td>
        <td class="mat-cell">{{ s.accountNumber }}</td>
        <td class="mat-cell">{{ s.taxOffice }}</td>
        <td class="mat-cell">{{ s.taxNumber }}</td>
        <td class="mat-cell">{{ s.expiry }}</td>
      </tr>
    </tbody>
  </table>
</div>
