<div fxLayout="row" fxLayoutWrap fxLayoutGap="20px" class="form-viewer-body">
  <md-select fxFlex="25" placeholder="Şirket" name="company" [(ngModel)]="item.company" (change)="companyChanged($event)">
    <md-option *ngFor="let c of companies" [value]="c">{{ c.name }}
    </md-option>
  </md-select>
  <md-select fxFlex="25" placeholder="Para Birimi">
    <md-option *ngFor="let c of currencies" [value]="c">{{ c.name }}
    </md-option>
  </md-select>
  <md-input-container>
    <input mdInput placeholder="Referans Numarası" [value]="referenceNumber" disabled />
  </md-input-container>
</div>